<form action="/register" method="post" id="registerform">
  First Name  <input type="text" name="first_name" placeholder="Timo"><br>
  Last Name  <input type="text" name="last_name" placeholder="Boll"><br>
  User Name  <input type="text" name="user_name" placeholder="Ping Pong Champ"><br>
  E-mail  <input type="text" name="email" placeholder="ping@pong.com" size = "28px"><br>
  Password  <input type="password" name = "password" placeholder="password"><br>
  <input type ="submit" value="Sign Up">
</form>
