<div class="login_register">
  <div id="login_container">
    <div id="login">
     <%= erb :_login %>
   </div>
     <div id="register_button">
      <a href= "">Register</a>
     </div>
    <div id="register">
      <%= erb :_register %>
      <div id="login_button">
       <p>return to <a href="">Login</a></p>
      </div>
    </div>
  </div>
</div>

