<div class="login_register">
  <div id="login_container">
    <div id="login">
     <%= erb :_login %>
   </div>
     <div id="register_button">
      <a href= "">Register</a>
     </div>
    <div id="register">
      <%= erb :_register %>
      <div id="login_button">
       <p>return to <a href="">Login</a></p>
      </div>
    </div>
  </div>
</div>
<div id="main_page">

  <div class="top_bar">
    <div id="right_name_bar">
      <h2>  User Name </h2>
    </div>

    <div id="main_logo">
      <h1> Ping Pong Twitter </h1>
    </div>

    <div id="search_bar">
      <h2>search</h2>
    </div>
  </div>

  <div class="left_side">

    <div id="friends">
      <h2>friends</h2>
    </div>
  </div>

  <div class="center">

    <div id="ping">
      <h4> search </h4>
    </div>


    <div id="main_magic">
    <h4> cool page stuff </h4>
    </div>
  </div>

  <div class="right_side">
  </div>

</div>






